body{
    font-family: ; artial, sans-serif;
    text-align; center;
    background: #111;
    colour: white;
    padding: 50px;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 20px;
            }